<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../../lib/internal/Magento/Framework/Event/etc/events.xsd">
    <event name="sales_quote_save_after">
        <observer name="mst_rewards_model_sales_quote_save_after" instance="\Mirasvit\Rewards\Observer\OrderQuoteAfterSave"/>
    </event>
    <event name="sales_quote_remove_item">
        <observer name="mst_rewards_model_sales_quote_save_after" instance="\Mirasvit\Rewards\Observer\QuoteAfterRemove"/>
    </event>
    <event name="sales_quote_collect_totals_after">
        <observer name="mst_rewards_sales_quote_collect_totals_after" instance="\Mirasvit\Rewards\Observer\OrderQuoteTotalsCollectAfter"/>
    </event>
    <event name="sales_order_invoice_save_after">
        <observer name="mst_reward_model_observer_invoice" instance="\Mirasvit\Rewards\Observer\OrderAfterInvoiceSave"/>
    </event>
    <event name="sales_quote_payment_import_data_before">
        <observer name="mst_rewards_sales_quote_collect_totals_before" instance="\Mirasvit\Rewards\Observer\WebApi\SalesQuotePaymentImportDataBefore"/>
    </event>
</config>
