.giftcard-index-index .page-main,
.giftregistry-guest-showevent .page-main{
  width: 100%;
  padding: 0;
  max-width: 100%;
}
.giftcard-index-index .columns ,
.giftregistry-guest-showevent .columns {
  display: block !important;
}
.giftcard-index-index .page-title-wrapper,
.giftregistry-guest-showevent .page-title-wrapper{
  display: none;
}
.giftcard-index-index .columns,
.page-title-wrapper .columns{
  display: block;
}
.box-container {
  max-width: 1200px;
  padding: 0 15px;
  margin: auto;
  display: block;
}
.action.togiftcard {
  height: 20px;
  padding-left: 23px;
  min-height: 20px;
  display: inline-block;
  vertical-align: top;
  background-position: center left;
  background-repeat: no-repeat;
  background-image: url(../images/gift4.png);
  color: #999999;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
}
.action.togiftcard:hover {
  color: #333333;
  text-decoration: none;
}
.catalog-product-view .action.togiftcard {
  margin-left: 10px;
}
.giftcart-slide .box-container {
  max-width: 100%;
  padding: 0;
}
.giftcart-slide .owl-giftcart img {
  width: 100%;
  display: block;
}
.giftcart-slide .owl-prev,
.giftcart-slide .owl-next {
  position: absolute;
  top: 50%;
  margin-top: -17px;
  width: 35px;
  height: 76px;
  background-repeat: no-repeat;
  background-position: top left;
  display: block;
  background-image: url(../images/prev-next.png);
}
.giftcart-slide .owl-next {
  right: 20px;
  background-position: top left -35px;
}
.giftcart-slide .owl-next:hover {
  background-position: top left -105px;
}
.giftcart-slide .owl-prev {
  background-position: top left 0px;
  left: 20px;
}
.giftcart-slide .owl-prev:hover {
  background-position: top left -70px;
}
.giftcart-list {
  background-repeat: repeat;
  background-position: center;
  background-image: url(../images/bg.png);
  padding: 30px;
}
.giftcart-list .block-title {
  text-align: center;
  margin-bottom: 30px;
}
.giftcart-list .block-title .title {
  font-size: 30px;
  margin: 30px 0 10px;
  display: block;
  font-weight: 400;
}
.giftcart-list .block-title .line {
  display: block;
  text-align: center;
  height: 30px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../images/gift3.png);
  margin-bottom: 15px;
}
.giftcart-list .block-title .line:before,
.giftcart-list .block-title .line:after {
  content: "";
  width: 30px;
  height: 2px;
  background-color: #c7c7c7;
  display: inline-block;
  vertical-align: bottom;
}
.giftcart-list .block-title .line:before {
  margin-right: 30px;
}
.gift-time {
  background-image: url(../images/bg_map.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  color: #fff;
  padding: 60px 0;
}
.gift-time .block-title {
  text-align: center;
  margin-bottom: 30px;
}
.gift-time .block-title .title {
  font-size: 30px;
  margin: 30px 0 10px;
  display: block;
  font-weight: 400;
}
.gift-time .block-title .line {
  display: block;
  text-align: center;
  height: 30px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../images/location2.png);
  margin-bottom: 15px;
}
.gift-time .block-title .line:before,
.gift-time .block-title .line:after {
  content: "";
  width: 30px;
  height: 2px;
  background-color: #fff;
  display: inline-block;
  vertical-align: bottom;
}
.gift-time .block-title .line:before {
  margin-right: 30px;
}
.gift-time .map,
.gift-time .time-remaining {
  float: left;
  width: 50%;
  box-sizing: border-box;
  padding: 0 15px;
  margin-bottom: 15px;
}
.gift-time .map .title,
.gift-time .time-remaining .title {
  font-size: 24px;
  text-transform: capitalize;
  display: block;
  margin-bottom: 25px;
}
.gift-time .box-map {
  border: 2px solid #ccc;
  overflow: hidden;
}
.gift-time .box-map .img-map {
  display: block;
  width: 100%;
}
.gift-time .icon-location,
.gift-time .icon-clock,
.gift-time .icon-mail,
.gift-time .icon-phone {
  display: inline-block;
  width: 16px;
  height: 16px;
  background-position: center;
  background-repeat: no-repeat;
  margin-right: 7px;
}
.gift-time .icon-location {
  background-image: url(../images/location.png);
}
.gift-time .icon-clock {
  background-image: url(../images/clock.png);
}
.gift-time .icon-mail {
  background-image: url(../images/mail.png);
}
.gift-time .icon-phone {
  background-image: url(../images/phone.png);
}
.gift-time .clearfix:before,
.gift-time .clearfix:after {
  content: "";
  display: table;
}
.gift-time .clearfix:after {
  clear: both;
}
#countdown-gift .countdown-row {
  width: 100%;
}
#countdown-gift .countdown-row .countdown-section {
  margin-right: 10px;
  width: 100px;
  height: 100px;
  text-align: center;
  border: 5px solid #6F6F6F;
  border-color: rgba(255, 255, 255, 0.5);
  border-radius: 100%;
  display: inline-block;
  padding-top: 10px;
  box-sizing: border-box;
}
#countdown-gift .countdown-row .countdown-section .countdown-amount,
#countdown-gift .countdown-row .countdown-section .countdown-period {
  display: block;
}
#countdown-gift .countdown-row .countdown-section .countdown-amount {
  font-size: 28px;
}
#countdown-gift .countdown-row .countdown-section .countdown-period {
  font-size: 14px;
}
@media (max-width: 767px) {
  .gift-time .map,
  .gift-time .time-remaining {
    float: none;
    width: 100%;
  }
}
#registryForm .update-registry {
    margin-bottom: 20px;
}
#registry-list-table {
    border-collapse: collapse;
    border-spacing: 0;
    box-sizing: border-box;
}
#registry-list-table td,
#registry-list-table th {
    border-top: 1px solid #ddd;
    line-height: 1.42857;
    padding: 8px;
    vertical-align: top;
    box-sizing: border-box;
}
#registry-list-table .action-remove {
    text-decoration: none;
}
#registry-list-table .action-remove:hover {
    text-decoration: none;
}
#registry-list-table .action-remove span {
    display: none;
}
#registry-list-table .action-remove:before {
    content: '\e604';
    font-family: "luma-icons";
}
#registry-list-table .qty {
    width: 65px;
}
#registry-list-table .type,
#registry-list-table .note {
    width: 150px;
    margin-bottom: 15px;
    display: block;
}
#registry-list {
    border-collapse: collapse;
    border-spacing: 0;
    box-sizing: border-box;
    margin: 20px auto;
    max-width: 800px;
    width: 100%;
}
#registry-list td,
#registry-list th {
    border: 1px solid #ddd;
    line-height: 1.42857;
    padding: 20px;
    vertical-align: top;
    box-sizing: border-box;
}
#registry-list .name {
    font-size: 20px;
    text-decoration: none;
    margin-bottom: 10px;
    display: block;
}
#registry-list .add-to-cart-box {
    margin: 10px 0;
}
#registry-list .add-to-cart-box .add-to-cart {
    display: inline-block;
    padding: 0px 12px;
    border: 1px solid #1979c3;
    background-color: #1979c3;
    color: #fff;
    vertical-align: top;
    height: 34px;
    line-height: 34px;
    margin-right: 5px;
    box-sizing: border-box;
    cursor: pointer;
}
#registry-list .add-to-cart-box .qty {
    display: inline-block;
    vertical-align: top;
    width: 50px;
    height: 34px;
}

.gift-select {
    background-image: url("../images/icon/select.gif");
    background-repeat: no-repeat;
    cursor: hand;
}

.loading {
    background-image: url("../images/loading.gif");
    background-repeat: no-repeat;
}
.add-item-gift-product-page {

}
#add-gift-link{
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #666;
    font-weight: 600;
    letter-spacing: .05em;
    text-transform: uppercase;
    line-height: 1.42857143;
    font-size: 1.4rem;
    font-style: normal;
}
#add-gift-link:hover{
    color:#333;
}
.list-gift {
    width: 220px;
    margin-bottom: 5px;
}
#add-gift-button{
    margin-bottom: 5px;
    background: #006bb4;
    border: 1px solid #006bb4;
    color: #fff;
    box-shadow: none;
}
#select-action{list-style: none;width: 185px;margin-bottom: 5px}
#select-action option{padding: 10px 5px;}
.modal-address {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 9; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content-address {
    text-align: center;
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}