<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../Magento/Backend/etc/menu.xsd">
    <menu>
        <add id="Mirasvit_Rewards::rewards" title="Reward Points" module="Mirasvit_Rewards"
             resource="Mirasvit_Rewards::reward" sortOrder="1000" parent="Magento_CatalogRule::promo"
             action="rewards/earning_rule" />
    </menu>
</config>