<?xml version="1.0"?>
<!--
/**
 * Copyright © 2016 Magenest. All rights reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">

    <event name="checkout_cart_product_add_after">
        <observer name="validate_giftregistry" instance="Magenest\GiftRegistry\Observer\Cart\ValidateAddToCart"/>
    </event>

</config>
