<!--
/**
 * Copyright © 2015 Magenest. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<!--@subject Invitation to buy gifts@-->

{{template config_path="design/email/header_template"}}

<body style="background:#F6F6F6; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; margin:0; padding:0;">
{{trans "Dear my friend!"}} <br/>
{{trans "Join us"}} {{var subject}} <br/>
We hope that this registry will help you to select the gifts we love.<br/>

</br>
<h5>Message Details:</h5>
{{var message}}
<br/>
Best Regards,
</body>

{{template config_path="design/email/footer_template"}}